.mono/
BraveSoftware/
GIMP/
JetBrains/
KeePass/
Microsoft/
QtProject.conf
Session/
Thunar/
VSCodium/
VeraCrypt/
VirtualBox/
aerc/
autostart/
bleachbit/
blender/
calcurse/hooks
calcurse/keys
chromium/
cmus/
coc/
composer/
configstore/
dconf/
filezilla/
freerdp/
gtk-2.0/gtkfilechooser.ini
htop/
keepassxc/
libreoffice/
mbsync/
menus/
mimeapps.list
msmtp/
mutt/accounts/
mutt/muttrc
newsboat/urls
notmuch/
npm/
nvim/
obs-studio/
pam-gnupg
pulse/*.tdb
pulse/bd1eaf607037efe3b858727e5fe0a4c1-default-sink
pulse/bd1eaf607037efe3b858727e5fe0a4c1-default-source
pulse/bd1eaf607037efe3b858727e5fe0a4c1-runtime
pulse/cookie
python/
qBittorrent/
ranger/plugins/
remmina/
sh/history
skypeforlinux/
teams/
wget/
x11/Xresources-themes
x11/Xresources-themes.zip
xfce4/
zsh/.zcompdump
