.mono/
blender/
JetBrains/
BraveSoftware/
GIMP/
KeePass/
Microsoft/
QtProject.conf
Session/
Thunar/
VeraCrypt/
VirtualBox/
aerc/
autostart/
calcurse/hooks
calcurse/keys
cmus/
coc/
composer/
configstore/
dconf/
filezilla/
freerdp/
gtk-2.0/gtkfilechooser.ini
htop/
keepassxc/
libreoffice/
mbsync/
mimeapps.list
msmtp/
mutt/accounts/
mutt/muttrc
notmuch/
npm/
nvim/
pam-gnupg
pulse/cookie
python/
qBittorrent/
ranger/plugins/
remmina/
sh/history
skypeforlinux/
teams/
wget/
x11/Xresources-themes
x11/Xresources-themes.zip
xfce4/
zsh/.zcompdump
VSCodium/
bleachbit/
chromium/
