cmus/
composer/
gtk-2.0/gtkfilechooser.ini
keepassxc/
BraveSoftware/
ranger/plugins/
.mono/
GIMP/
KeePass/
Microsoft/
QtProject.conf
VirtualBox/
aerc/
autostart/
coc/
configstore/
freerdp/
htop/
mbsync/
mimeapps.list
msmtp/
mutt/
notmuch/
npm/
nvim/
python/
qBittorrent/
remmina/
skypeforlinux/
teams/
wget/
sh/history
x11/Xresources-themes
x11/Xresources-themes.zip
zsh/.zcompdump
VeraCrypt/
Thunar/
dconf/
xfce4/
calcurse/keys
calcurse/hooks
